In [ ]:
import pandas as _hex_pandas
import datetime as _hex_datetime
import json as _hex_json

In [ ]:
hex_scheduled = _hex_json.loads("false")

In [ ]:
hex_user_email = _hex_json.loads("\"example-user@example.com\"")

In [ ]:
hex_run_context = _hex_json.loads("\"logic\"")

In [ ]:
hex_timezone = _hex_json.loads("\"UTC\"")

In [ ]:
hex_project_id = _hex_json.loads("\"6af681ac-0fe1-47ca-91cd-ac32a1e20f18\"")

In [ ]:
hex_project_name = _hex_json.loads("\"SUTV City and Zipcode Prioritization\"")

In [ ]:
hex_status = _hex_json.loads("\"\"")

In [ ]:
hex_categories = _hex_json.loads("[]")

In [ ]:
hex_color_palette = _hex_json.loads("[\"#4C78A8\",\"#F58518\",\"#E45756\",\"#72B7B2\",\"#54A24B\",\"#EECA3B\",\"#B279A2\",\"#FF9DA6\",\"#9D755D\",\"#BAB0AC\"]")

In [ ]:
input_1 = _hex_json.loads("\"\"")

### Description 

Shape Up The Vote will be launching campaign in these states: 

* Wave 1 States: AZ, GA, NV, MI, NC, PA, WI, OH
* Wave 2 States: CO, FL, TX, VA, NH

As part of our launch, we want to identify and prioritize the top cities and zip codes to target barbershops. We are looking to find locales where there is either historically low voter turnout or underserved / disenfranchised populations. 

~~Use the database `my_db.main.zipcodes` below to prioritize the top cities and zips that we should prioritize for data collection of barbershops and stylists.~~

#### **UPDATE 2024-05-16:** Use the `zipcodes.csv` file that is uploaded directly into this project's filesystem.

In [ ]:
# Import Libraries and Set Options
import pandas as pd
import numpy as np
import json
import warnings

# Setting pandas options to display all columns and set a wide display width
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

# Function to process each chunk
def process_chunk(chunk):
    # Example processing logic
    # Add your processing logic here, avoid complex operations if possible
    return chunk

# Load Data in Chunks
filename = "zipcodes.csv"
chunksize = 10**5  # Adjust chunk size as needed

# Initialize an empty list to hold the processed chunks
processed_chunks = []

try:
    # Reading the CSV file in chunks
    for chunk in pd.read_csv(filename, encoding="utf-8", encoding_errors="ignore", chunksize=chunksize):
        processed_chunk = process_chunk(chunk)
        processed_chunks.append(processed_chunk)
    print("Data processing completed.")
    
    # Concatenate all processed chunks into a single DataFrame
    zipcodes = pd.concat(processed_chunks, ignore_index=True)
    zipcodes.head()  # Display the first few rows of the final DataFrame
except FileNotFoundError:
    print("The file 'zipcodes.csv' was not found.")
except pd.errors.ParserError:
    print("Error parsing the CSV file.")
except Exception as e:
    print(f"An error occurred: {e}")

Data processing completed.

In [ ]:
chunk

In [ ]:
# Split the 'common_city_list' column into multiple columns
split_columns = chunk['common_city_list'].str.split(',', expand=True)

# Retain only the first column (0) after the split
chunk['common_city_list'] = split_columns[0]

# Strip leading and trailing whitespace from the 'common_city_list' column
chunk['common_city_list'] = chunk['common_city_list'].str.strip()

# Remove square brackets and quotes from the 'common_city_list' column
chunk['common_city_list'] = chunk['common_city_list'].str.replace('[', '', regex=False)
chunk['common_city_list'] = chunk['common_city_list'].str.replace(']', '', regex=False)
chunk['common_city_list'] = chunk['common_city_list'].str.replace("'", '', regex=False)

#Remove county string from county column
chunk['county'] = chunk['county'].str.replace("County", '', regex=False)

# Display the first few rows of the modified DataFrame
chunk.head()

,_sa_instance_state,common_city_list,area_code_list,median_household_income,population_by_year,year_housing_was_built,monthly_rent_including_utilities_2_b,household_investment_income____percent_of_households_receiving_investment_income,educational_attainment_for_population_25_and_over,county,population,bounds_west,population_by_age,housing_occupancy,monthly_rent_including_utilities_3plus_b,household_investment_income____average_income_per_household_by_income_source,school_enrollment_age_3_to_17,state,population_density,bounds_east,population_by_gender,vacancy_reason,employment_status,household_retirement_income____percent_of_households_receiving_retirement_incom,lat,land_area_in_sqmi,bounds_north,population_by_race,owner_occupied_home_values,average_household_income_over_time,household_retirement_income____average_income_per_household_by_income_source,zipcode_type,lng,water_area_in_sqmi,bounds_south,head_of_household_by_age,rental_properties_by_number_of_rooms,household_income,source_of_earnings,zipcode,timezone,housing_units,polygon,families_vs_singles,monthly_rent_including_utilities_studio_apt,annual_individual_earnings,means_of_transportation_to_work_for_workers_16_and_over,major_city,radius_in_miles,occupied_housing_units,households_with_kids,housing_type,monthly_rent_including_utilities_1_b,sources_of_household_income____percent_of_households_receiving_income,travel_time_to_work_in_minutes,post_office_city,median_home_value,children_by_age,sources_of_household_income____average_income_per_household_by_income_source
0,<sqlalchemy.orm.state.InstanceState object at ...,Moody,205,58832.0,"[{'key': 'Data', 'values': [{'x': 2005, 'y': 8...","[{'key': 'Data', 'values': [{'x': '1939 Or Ear...","[{'key': 'Data', 'values': [{'x': '< $200', 'y...","[{'key': 'Data', 'values': [{'x': 'Interest', ...","[{'key': 'Data', 'values': [{'x': 'Less Than H...",St. Clair,10427.0,-86.551776,"[{'key': 'Male', 'values': [{'x': 0, 'y': 450}...","[{'key': 'Data', 'values': [{'x': 'Owned House...","[{'key': 'Data', 'values': [{'x': '< $200', 'y...","[{'key': 'Data', 'values': [{'x': 'Interest', ...","[{'key': 'Data', 'values': [{'x': 'Enrolled In...",AL,577.0,-86.452822,"[{'key': 'Data', 'values': [{'x': 'Male', 'y':...","[{'key': 'Data', 'values': [{'x': 'For Rent', ...","[{'key': 'Data', 'values': [{'x': 'Worked Full...","[{'key': 'Data', 'values': [{'x': 'IRA/pension...",33.59,18.07,33.668501,"[{'key': 'Data', 'values': [{'x': 'White', 'y'...","[{'key': 'Data', 'values': [{'x': '$1-$24,999'...","[{'key': 'Data', 'values': [{'x': 2005, 'y': 4...","[{'key': 'Data', 'values': [{'x': 'IRA/pension...",STANDARD,-86.49,0.14,33.562686,"[{'key': 'Owner', 'values': [{'x': 0, 'y': 59}...","[{'key': 'Data', 'values': [{'x': 'Studio Apar...","[{'key': 'Data', 'values': [{'x': '< $25,000',...","[{'key': 'Data', 'values': [{'x': 'Worked Full...",35004,America/Chicago,4523.0,"[[-86.527623, 33.580235], [-86.5276, 33.581179...","[{'key': 'Data', 'values': [{'x': 'Husband Wif...","[{'key': 'Data', 'values': [{'x': '< $200', 'y...","[{'key': 'Data', 'values': [{'x': '< $10,000',...","[{'key': 'Data', 'values': [{'x': 'Car, Truck,...",Moody,4.0,4214.0,"[{'key': 'Data', 'values': [{'x': 'Households ...","[{'key': 'Data', 'values': [{'x': 'In Occupied...","[{'key': 'Data', 'values': [{'x': '< $200', 'y...","[{'key': 'Data', 'values': [{'x': 'Wages', 'y'...","[{'key': 'Data', 'values': [{'x': '< 10', 'y':...","Moody, AL",142500.0,"[{'key': 'Male', 'values': [{'x': 0, 'y': 90},...","[{'key': 'Data', 'values': [{'x': 'Wages', 'y'..."
1,<sqlalchemy.orm.state.InstanceState object at ...,Adamsville,205,46059.0,"[{'key': 'Data', 'values': [{'x': 2005, 'y': 7...","[{'key': 'Data', 'values': [{'x': '1939 Or Ear...","[{'key': 'Data', 'values': [{'x': '< $200', 'y...","[{'key': 'Data', 'values': [{'x': 'Interest', ...","[{'key': 'Data', 'values': [{'x': 'Less Than H...",Jefferson,7942.0,-87.081633,"[{'key': 'Male', 'values': [{'x': 0, 'y': 217}...","[{'key': 'Data', 'values': [{'x': 'Owned House...","[{'key': 'Data', 'values': [{'x': '< $200', 'y...","[{'key': 'Data', 'values': [{'x': 'Interest', ...","[{'key': 'Data', 'values': [{'x': 'Enrolled In...",AL,230.0,-86.906768,"[{'key': 'Data', 'values': [{'x': 'Male', 'y':...","[{'key': 'Data', 'values': [{'x': 'For Rent', ...","[{'key': 'Data', 'values': [{'x': 'Worked Full...","[{'key': 'Data', 'values': [{'x': 'IRA/pension...",33.59,34.51,33.639430,"[{'key': 'Data', 'values': [{'x': 'White', 'y'...","[{'key': 'Data', 'values': [{'x': '$1-$24,999'...","[{'key': 'Data', 'values': [{'x': 2005, 'y': 3...","[{'key': 'Data', 'values': [{'x': 'IRA/pension...",STANDARD,-86.95,0.35,33.533901,"[{'key': 'Owner', 'values': [{'x': 0, 'y': 34}...","[{'key': 'Data', 'values': [{'x': 'Studio Apar...","[{'key': 'Data', 'values': [{'x': '< $25,000',...","[{'key': 'Data', 'values': [{'x': 'Worked Full...",35005,America/Chicago,3485.0,"[[[-86.971412, 33.564767], [-86.969258, 33.564...","[{'key': 'Data', 'values': [{'x': 'Husband Wif...","[{'key': 'Data', 'values': [{'x': '< $200', 'y...","[{'key': 'Data', 'values': [{'x': '< $10,000',...","[{'key': 'Data', 'values': [{'x': 'Car, Truck,...",Adamsville,6.0,3067.0,"[{'key': 'Data', 'values': [{'x': 'Households ...","[{'key': 'Data', 'values': [{'x': 'In Occupied...","[{'key': 'Data', 'values': [{'x': '< $200', 'y...","[{'key': 'Data', 'values': [{'x': 'Wages', 'y'...","[{'key': 'Data', 'values': [{'x': '< 10', 'y':...","Adamsville, AL",97000.0,"[{'key': 'Male', 'values': [{'x': 0, 'y': 34},...","[{'key': 'Data', 'values': [{'x': 'Wages', 'y'..."
2,<sqlalchemy.orm.state.InstanceState object at ...,Adger,205,51929.0,"[{'key': 'Data', 'values': [{'x': 2005, 'y': 3...","[{'key': 'Data', 'values': [{'x': '1939 Or Ear...","[{'key': 'Data', 'values': [{'x': '< $200', 'y...","[{'key': 'Data', 'values': [{'x': 'Interest', ...","[{'key': 'Data', 'values': [{'x': 'Less Than H...",Jefferson,3121.0,-87.341698,"[{'key': 'Male', 'values': [{'x': 0, 'y': 89},...","[{'key': 'Data', 'values': [{'x': 'Owned House...","[{'key': 'Data', 'values': [{'x': '< $200', 'y...","[{'key': 'Data', 'values': [{'x': 'Interest', ...","[{'key': 'Data', 'values': [{'x': 'Enrolled In...",AL,31.0,-87.071629,"[{'key': 'Data', 'values': [{'x': 'Male', 'y':...","[{'key': 'Data', 'values': [{'x': 'For Rent', ...","[{'key': 'Data', 'values': [{'x': 'Worked Full...","[{'key': 'Data', 'values': [{'x': 'IRA/pension...",33.42,99.81,33.555800,"[{'key': 'Data', 'values': [{'x': 'White', 'y'...","[{'key': 'Data', 'values': [{'x': '$1-$24,999'...","[{'key': 'Data', 'values': [{'x': 2005, 'y': 3...","[{'key': 'Data', 'values': [{'x': 'IRA/pension...",STANDARD,-87.19,3.02,33.327443,"[{'key': 'Owner', 'values': [{'x': 0, 'y': 17}...","[{'key': 'Data', 'values': [{'x': 'Studio Apar...","[{'key': 'Data', 'values': [{'x': '< $25,000',...","[{'key': 'Data', 'values': [{'x': 'Worked Full...",35006,America/Chicago,1495.0,"[[-87.292132, 33.440842], [-87.29369, 33.44090...","[{'key': 'Data', 'values': [{'x': 'Husband Wif...","[{'key': 'Data', 'values': [{'x': '< $200', 'y...","[{'key': 'Data', 'values': [{'x': '< $10,000',...","[{'key': 'Data', 'values': [{'x': 'Car, Truck,...",Adger,11.0,1188.0,"[{'key': 'Data', 'values': [{'x': 'Households ...","[{'key': 'Data', 'values': [{'x': 'In Occupied...","[{'key': 'Data', 'values': [{'x': '< $200', 'y...","[{'key': 'Data', 'values': [{'x': 'Wages', 'y'...","[{'key': 'Data', 'values': [{'x': '< 10', 'y':...","Adger, AL",95400.0,"[{'key': 'Male', 'values': [{'x': 0, 'y': 25},...","[{'key': 'Data', 'values': [{'x': 'Wages', 'y'..."
3,<sqlalchemy.orm.state.InstanceState object at ...,Alabaster,205,64299.0,"[{'key': 'Data', 'values': [{'x': 2005, 'y': 2...","[{'key': 'Data', 'values': [{'x': '1939 Or Ear...","[{'key': 'Data', 'values': [{'x': '< $200', 'y...","[{'key': 'Data', 'values': [{'x': 'Interest', ...","[{'key': 'Data', 'values': [{'x': 'Less Than H...",Shelby,26225.0,-86.861774,"[{'key': 'Male', 'values': [{'x': 0, 'y': 1022...","[{'key': 'Data', 'values': [{'x': 'Owned House...","[{'key': 'Data', 'values': [{'x': '< $200', 'y...","[{'key': 'Data', 'values': [{'x': 'Interest', ...","[{'key': 'Data', 'values': [{'x': 'Enrolled In...",AL,702.0,-86.726833,"[{'key': 'Data', 'values': [{'x': 'Male', 'y':...","[{'key': 'Data', 'values': [{'x': 'For Rent', ...","[{'key': 'Data', 'values': [{'x': 'Worked Full...","[{'key': 'Data', 'values': [{'x': 'IRA/pension...",33.22,37.38,33.271760,"[{'key': 'Data', 'values': [{'x': 'White', 'y'...","[{'key': 'Data', 'values': [{'x': '$1-$24,999'...","[{'key': 'Data', 'values': [{'x': 2005, 'y': 5...","[{'key': 'Data', 'values': [{'x': 'IRA/pension...",STANDARD,-86.82,0.67,33.150196,"[{'key': 'Owner', 'values': [{'x': 0, 'y': 88}...","[{'key': 'Data', 'values': [{'x': 'Studio Apar...","[{'key': 'Data', 'values': [{'x': '< $25,000',...","[{'key': 'Data', 'values': [{'x': 'Worked Full...",35007,America/Chicago,9799.0,"[[[-86.840505, 33.248309], [-86.840509, 33.248...","[{'key': 'Data', 'values': [{'x': 'Husband Wif...","[{'key': 'Data', 'values': [{'x': '< $200', 'y...","[{'key': 'Data', 'values': [{'x': '< $10,000',...","[{'key': 'Data', 'values': [{'x': 'Car, Truck,...",Alabaster,5.0,9180.0,"[{'key': 'Data', 'values': [{'x': 'Households ...","[{'key': 'Data', 'values': [{'x': 'In Occupied...","[{'key': 'Data', 'values': [{'x': '< $200', 'y...","[{'key': 'Data', 'values': [{'x': 'Wages', 'y'...","[{'key': 'Data', 'values': [{'x': '< 10', 'y':...","Alabaster, AL",153900.0,"[{'key': 'Male', 'values': [{'x': 0, 'y': 215}...","[{'key': 'Data', 'values': [{'x': 'Wages', 'y'..."
4,<sqlalchemy.orm.state.InstanceState object at ...,Alexander City,256,37380.0,"[{'key': 'Data', 'values': [{'x': 2005, 'y': 1...","[{'key': 'Data', 'values': [{'x': '1939 Or Ear...","[{'key': 'Data', 'values': [{'x': '< $200', 'y...","[{'key': 'Data', 'values': [{'x': 'Interest', ...","[{'key': 'Data', 'values': [{'x': 'Less Than H...",Tallapoosa,20816.0,-86.108223,"[{'key': 'Male', 'values': [{'x': 0, 'y': 675}...","[{'key': 'Data', 'values': [{'x': 'Owned House...","[{'key': 'Data', 'values': [{'x': '< $200', 'y...","[{'key': 'Data', 'values': [{'x': 'Interest', ...","[{'key': 'Data', 'values': [{'x': 'Enrolled In...",AL,96.0,-85.763722,"[{'key': 'Data', 'values': [{'x': 'Male', 'y':...","[{'key': 'Data', 'values': [{'x': 'For Rent', ...","[{'key': 'Data', 'values': [{'x': 'Worked Full...","[{'key': 'Data', 'values': [{'x': 'IRA/pension...",32.92,217.59,33.104456,"[{'key': 'Data', 'values': [{'x': 'White', 'y'...","[{'key': 'Data', 'values': [{'x': '$1-$24,999'...","[{'key': 'Data', 'values': [{'x': 2005, 'y': 4...","[{'key': 'Data', 'values': [{'x': 'IRA/pension...",STANDARD,-85.93,25.60,32.698717,"[{'key': 'Owner', 'values': [{'x': 0, 'y': 78}...","[{'key': 'Data', 'values': [{'x': 'Studio Apar...","[{'key': 'Data', 'values': [{'x': '< $25,000',...","[{'key': 'Data', 'values': [{'x': 'Worked Full...",35010,America/Chicago,10307.0,"[[[-85.982537, 32.98625], [-85.982726, 32.9863...","[{'key': 'Data', 'values': [{'x': 'Husband Wif...","[{'key': 'Data', 'values': [{'x': '< $200', 'y...","[{'key': 'Data', 'values': [{'x': '< $10,000',...","[{'key': 'Data', 'values': [{'x': 'Car, Truck,...",Alexander City,17.0,8476.0,"[{'key': 'Data', 'values': [{'x': 'Households ...","[{'key': 'Data', 'values': [{'x': 'In Occupied...","[{'key': 'Data', 'values': [{'x': '< $200', 'y...","[{'key': 'Data', 'values': [{'x': 'Wages', 'y'...","[{'key': 'Data', 'values': [{'x': '< 10', 'y':...","Alexander City, AL",90800.0,"[{'key': 'Male', 'values': [{'x': 0, 'y': 137}...","[{'key': 'Data', 'values': [{'x': 'Wages', 'y'..."

In [ ]:
#zipcodes.dtypes
#sort column names alphabetically
chunk.dtypes.sort_index()

_sa_instance_state                                                                   object
annual_individual_earnings                                                           object
area_code_list                                                                       object
average_household_income_over_time                                                   object
bounds_east                                                                         float64
bounds_north                                                                        float64
bounds_south                                                                        float64
bounds_west                                                                         float64
children_by_age                                                                      object
common_city_list                                                                     object
county                                                                               object
educational_attainment_for_population_25_and_over                                    object
employment_status                                                                    object
families_vs_singles                                                                  object
head_of_household_by_age                                                             object
household_income                                                                     object
household_investment_income____average_income_per_household_by_income_source         object
household_investment_income____percent_of_households_receiving_investment_income     object
household_retirement_income____average_income_per_household_by_income_source         object
household_retirement_income____percent_of_households_receiving_retirement_incom      object
households_with_kids                                                                 object
housing_occupancy                                                                    object
housing_type                                                                         object
housing_units                                                                       float64
land_area_in_sqmi                                                                   float64
lat                                                                                 float64
lng                                                                                 float64
major_city                                                                           object
means_of_transportation_to_work_for_workers_16_and_over                              object
median_home_value                                                                   float64
median_household_income                                                             float64
monthly_rent_including_utilities_1_b                                                 object
monthly_rent_including_utilities_2_b                                                 object
monthly_rent_including_utilities_3plus_b                                             object
monthly_rent_including_utilities_studio_apt                                          object
occupied_housing_units                                                              float64
owner_occupied_home_values                                                           object
polygon                                                                              object
population                                                                          float64
population_by_age                                                                    object
population_by_gender                                                                 object
population_by_race                                                                   object
population_by_year                                                                   object
population_density                                                                  float64
post_office_city                                                                     object
radius_in_miles                                                                     float64
rental_properties_by_number_of_rooms                                                 object
school_enrollment_age_3_to_17                                                        object
source_of_earnings                                                                   object
sources_of_household_income____average_income_per_household_by_income_source         object
sources_of_household_income____percent_of_households_receiving_income                object
state                                                                                object
timezone                                                                             object
travel_time_to_work_in_minutes                                                       object
vacancy_reason                                                                       object
water_area_in_sqmi                                                                  float64
year_housing_was_built                                                               object
zipcode                                                                               int64
zipcode_type                                                                         object
dtype: object

In [ ]:
# Set the filter to ignore all warnings
warnings.simplefilter(action='ignore', category=Warning)

# Define a function to extract a specific value from a dictionary column
def get_key_val(col: str, key_val: str) -> str:
    if pd.isnull(col): 
        return ''
    val_dict = eval(col)[0]['values']
    val_list = [item['y'] for item in val_dict if item['x'] == key_val]
    return val_list[0] if val_list else ''

# Define a function to explode a dictionary column into multiple columns
def explode_col(df: pd.DataFrame, col: str) -> pd.DataFrame:
    assert col in df.columns.tolist()
    val_dict = eval(df[col].iloc[0])[0]['values']
    val_keys = [item['x'] for item in val_dict]
    for vk in val_keys:
        new_col_name = col + '_' + str(vk)
        df[new_col_name] = df[col].apply(lambda col: get_key_val(col, vk))
    return df

# Define a function to get the total of exploded columns
def get_exploded_col_total(df: pd.DataFrame, col: str) -> pd.DataFrame:
    exploded_cols = [c for c in df.columns.tolist() if c.startswith(f'{col}_')]
    df[f'{col}_total'] = df.loc[:, exploded_cols].sum(axis=1)
    return df

# Define a function to handle the explosion, calculation of totals, and deletion of original columns
def process_column(df: pd.DataFrame, col: str) -> pd.DataFrame:
    df = explode_col(df, col)
    df = get_exploded_col_total(df, col)
    del df[col]
    return df

# Function to process each chunk
def process_chunk(chunk):
    exp_df = chunk[['zipcode', 
                    'state', 
                    'median_household_income', 
                    'population_by_race',
                    'population_by_age', 
                    'population_by_year',
                    'monthly_rent_including_utilities_2_b',
                    'household_investment_income____percent_of_households_receiving_investment_income', 
                    'educational_attainment_for_population_25_and_over'
                   ]]
    
    columns_to_process = ['population_by_race', 
                          'population_by_age', 
                          'population_by_year', 
                          'monthly_rent_including_utilities_2_b',
                          'household_investment_income____percent_of_households_receiving_investment_income',
                          'educational_attainment_for_population_25_and_over'
                         ]
    
    for col in columns_to_process:
        exp_df = process_column(exp_df, col)
    
    return exp_df


try:
    # Reading the CSV file in chunks
    for chunk in pd.read_csv(filename, encoding="utf-8", encoding_errors="ignore", chunksize=chunksize):
        processed_chunk = process_chunk(chunk)
        processed_chunks.append(processed_chunk)
    print("Data processing completed.")
    
    # Concatenate all processed chunks into a single DataFrame
    zipcodes = pd.concat(processed_chunks, ignore_index=True)
    zipcodes.head()  # Display the first few rows of the final DataFrame
except FileNotFoundError:
    print("The file 'zipcodes.csv' was not found.")
except pd.errors.ParserError:
    print("Error parsing the CSV file.")
except Exception as e:
    print(f"An error occurred: {e}")


# import warnings
# import pandas as pd

# # Set the filter to ignore all warnings
# warnings.simplefilter(action='ignore', category=Warning)

# # Define a function to extract a specific value from a dictionary column
# def get_key_val(col: str, key_val: str) -> str:
#     # Check if the column value is null
#     if pd.isnull(col): 
#         return ''  # Return an empty string if the column value is null
#     # Evaluate the string representation of the dictionary to get the actual dictionary
#     val_dict = eval(col)[0]['values']
#     # Extract the value associated with the specified key
#     val_list = [item['y'] for item in val_dict if item['x'] == key_val]
#     # if not val_list:
#     #     print(f"No value found for key '{key_val}' in column data: {val_dict}")  # Debug statement
#     return val_list[0] if val_list else ''  # Return the first item in the list or an empty string if the list is empty

# # Define a function to explode a dictionary column into multiple columns
# def explode_col(df: pd.DataFrame, col: str) -> pd.DataFrame:
#     """Returns a dataframe with new columns exploded from the original"""
#     # Ensure the column to be exploded exists in the dataframe
#     assert col in df.columns.tolist()
#     # Evaluate the string representation of the dictionary to get the actual dictionary
#     val_dict = eval(df[col].iloc[0])[0]['values']
#     # Extract all the keys from the dictionary
#     val_keys = [item['x'] for item in val_dict]
#     # print(f"Exploding column '{col}' with keys: {val_keys}")  # Debug statement
#     # For each key, create a new column with the corresponding values
#     for vk in val_keys:
#         new_col_name = col + '_' + str(vk)
#         # print(f"Creating new column: {new_col_name}")  # Debug statement
#         df[new_col_name] = df[col].apply(lambda col: get_key_val(col, vk))
#     return df  # Return the modified dataframe

# # Define a function to get the total of exploded columns
# def get_exploded_col_total(df: pd.DataFrame, col: str) -> pd.DataFrame:
#     # Get all columns that start with the specified prefix
#     exploded_cols = [c for c in df.columns.tolist() if c.startswith(f'{col}_')]
#     # print(f"Calculating total for columns: {exploded_cols}")  # Debug statement
#     # Calculate the sum of the specified columns and create a new column for the total
#     df[f'{col}_total'] = df.loc[:, exploded_cols].sum(axis=1)
#     return df  # Return the modified dataframe


# # # Define a function to get the total of exploded columns if they contain numeric values
# # def get_exploded_col_total(df: pd.DataFrame, col: str) -> pd.DataFrame:
# #     # Get all columns that start with the specified prefix
# #     exploded_cols = [c for c in df.columns.tolist() if c.startswith(f'{col}_')]
# #     # Check if the columns contain numeric values
# #     if all(pd.api.types.is_numeric_dtype(df[c]) for c in exploded_cols):
# #         # Calculate the sum of the specified columns and create a new column for the total
# #         df[f'{col}_total'] = df.loc[:, exploded_cols].sum(axis=1)
# #     return df  # Return the modified dataframe

# # Define a function to handle the explosion, calculation of totals, and deletion of original columns
# def process_column(df: pd.DataFrame, col: str) -> pd.DataFrame:
#     df = explode_col(df, col)
#     df = get_exploded_col_total(df, col)
#     del df[col]
#     return df

# # Select specific columns from the zipcodes dataframe
# exp_df = zipcodes[['zipcode', 
#                    'state', 
#                    'median_household_income', 
#                    'population_by_race',
#                    'population_by_age', 
#                    'population_by_year',
#                    'monthly_rent_including_utilities_2_b',
#                    'household_investment_income____percent_of_households_receiving_investment_income', 
#                    'educational_attainment_for_population_25_and_over'
#                   ]]

# # Process each column using the new function
# columns_to_process = ['population_by_race', 
#                       'population_by_age', 
#                       'population_by_year', 
#                       'monthly_rent_including_utilities_2_b',
#                       'household_investment_income____percent_of_households_receiving_investment_income'
#                       'educational_attainment_for_population_25_and_over'
#                       ]
# for col in columns_to_process:
#     exp_df = process_column(exp_df, col)

# # Print the final columns to verify the changes
# print("Final columns after processing:", exp_df.columns.tolist())

# # # Select specific columns from the zipcodes dataframe
# # exp_df = zipcodes[['zipcode', 
# #                    'state', 
# #                    'median_household_income', 
# #                    'population_by_race',
# #                    'population_by_age', 
# #                    'population_by_year',
# #                    'monthly_rent_including_utilities_2_b',
# #                    'household_investment_income____percent_of_households_receiving_investment_income'
# #                   ]]

# # Print the columns to verify
# # print("Columns before exploding:", exp_df.columns.tolist())  # Added this line to print column names

# # # Explode the 'population_by_race' column into multiple columns
# # exp_df = explode_col(exp_df, 'population_by_race')
# # # Calculate the total of the exploded 'population_by_race' columns
# # exp_df = get_exploded_col_total(exp_df, 'population_by_race')
# # # Delete the original 'population_by_race' column from the dataframe
# # del exp_df['population_by_race']

# # # Explode the 'population_by_age' column into multiple columns
# # exp_df = explode_col(exp_df, 'population_by_age')
# # # Calculate the total of the exploded 'population_by_age' columns
# # exp_df = get_exploded_col_total(exp_df, 'population_by_age')
# # # Delete the original 'population_by_age' column from the dataframe
# # del exp_df['population_by_age']

# # # Print the columns again to verify the changes
# # # print("Columns after exploding 'population_by_race' and 'population_by_age':", exp_df.columns.tolist())  # Added this line to print column names again

# # # Explode the 'population_by_year' column into multiple columns
# # exp_df = explode_col(exp_df, 'population_by_year')
# # # Calculate the total of the exploded 'population_by_year' columns
# # exp_df = get_exploded_col_total(exp_df, 'population_by_year')
# # # Delete the original 'population_by_year' column from the dataframe
# # del exp_df['population_by_year']

# # # Explode the 'monthly_rent_including_utilities_2_b' column into multiple columns
# # exp_df = explode_col(exp_df, 'monthly_rent_including_utilities_2_b')
# # # Delete the original 'population_by_year' column from the dataframe
# # del exp_df['monthly_rent_including_utilities_2_b']

# # Print the final columns to verify the changes
# # print("Final columns after exploding 'population_by_year':", exp_df.columns.tolist())  # Added this line to print final column names

Data processing completed.

In [ ]:
zipcodes

In [ ]:
# # zipcodes.shape
# df_final = pd.DataFrame()

# chunk_size = 1000
# iterations = zipcodes.shape[0]//chunk_size
# for i in range(iterations):
#     df_chunk = process_chunk(zipcodes.iloc[i: i+chunk_size,:])
# if i == 0:
#     df_final = df_chunk
# else:
#     df_final = pd.concat([df_final, df_chunk], ignore_index)

# # exp_df = process_chunk(zipcodes)

In [ ]:
exp_df.head()

In [ ]:
def calc_nonwhite_percentage(row) -> float: 
    if row['population_by_race_White'] == '' or row['population_by_race_total'] == '':
        return None
    return 1 - int(row['population_by_race_White']) / int(row['population_by_race_total'])

exp_df['population_by_race_nonwhite_percentage'] = exp_df.apply(lambda row: calc_nonwhite_percentage(row), axis=1)

# exp_df['high_priority_zip'] = exp_df.apply(lambda row: row['population_by_race_nonwhite_percentage'] > 0.4 and row['median_household_income'] < 50000, axis=1)
exp_df['high_priority_zip'] = exp_df.apply(lambda row: row['population_by_race_nonwhite_percentage'] > 0.33, axis=1)

In [ ]:
"""Our hypothesis is that young people, as well as people with less education and lower incomes 
will be less likely to cast a ballot in any given election. 
https://www.elections.ca/content.aspx?section=res&dir=rec/part/tud&document=correlates&lang=e"""

In [ ]:
from google.cloud import storage

# Initialize a client
client = storage.Client.from_service_account_info(json.loads(google_json))

# Define the bucket and the file name
bucket_name = "shape-up-the-vote-data"
file_name = "high_priority_zips.csv"

# Get the bucket
bucket = client.get_bucket(bucket_name)

# Create a blob object from the bucket
blob = bucket.blob(file_name)

# Convert the DataFrame to a CSV string
csv_data = exp_df.to_csv(index=False)

# Upload the CSV string to the blob
blob.upload_from_string(csv_data, content_type="text/csv")

In [ ]:
pivoted_df = exp_df.pivot_table(
    index="state", columns="high_priority_zip", aggfunc="size", fill_value=0
).reset_index()

states = ['GA', 'PA', 'NC', 'MI', 'OH', 'NV', 'TX', 'FL', 'NH', 'AZ', 'CO', 'VA', 'WI']
pivoted_df[pivoted_df['state'].isin(states)]